@import "tailwindcss";

/* Setting khusus Print agar browser nurut */
@media print {
  @page {
    margin: 0;
    size: A4 portrait;
  }

  body {
    background-color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

/* Font Inter optional biar manis */
body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}